{% load static %}
{% load staticfiles %}

<html>

    <head>
        <script src="{% static 'core/jquery-3.3.1.min.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
>
        {% block head %}
        {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="{% url 'core:index' %} " >Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" >
                    <a class="navbar-brand" href="{% url 'core:formularioPedido' %}">
                       Novo Pedido
                    </a>                    
                    <a class="navbar-brand" href="{% url 'core:todosPedidos'%}">
                       Todos Pedidos
                    </a>
                </div>
            </div>
        </nav>   
        
        <div class="container word-wrap" >
                <br>   
           <div class="row">
                <div role="main" class="col-md-9" >
                    {% block main %}
            
                    {%  endblock %}
                </div>
                <aside role="complementary" class="col-md-3" >
                    <h3 align="center"> Pedidos  </h3>
                    <ul class="list-group">
                        
                        <li class="list-group-item"><a href="{% url 'core:formularioPedido' %}" class="btn btn-primary"> Criar um novo pedido </a></li>
                        <li class="list-group-item"><a href="{% url 'core:todosPedidos' %}" class="btn btn-primary">Visualizar todos os pedidos</a></li>
                         
                    </ul>
                    <br>
         
                        
                    {% block aside %}
                        
                    {%  endblock %}
                </aside>
            </div>
            <footer class="row">
                
            </footer>       
        </div>
        
        
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>

