{% extends 'core/base.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}

    <h3 align="center">Editar Pedido</h3> 

    <form action="" method="POST" id="pedidoForm" muda_preco_url="{% url 'core:ajax_muda_preco' %}">
        {% csrf_token %}
        {{formPedido|bootstrap}}
        {{formItem.produto|bootstrap}}
        {{formItem.quantidade_digitada_pelo_usuario|bootstrap}}
        <div id="quantidade" style="color:rgb(109, 109, 3); margin-bottom: 5px" ></div>
        {{formItem.preco_digitado_pelo_usuario|bootstrap}}
        <div id="rentabilidade" style="color:green" >
            Rentabilidade {{item.rentabilidade}}
        </div>
        <input type="submit" value="Salvar" name="Salvar" class="btn btn-success">
        <input type="submit" value="Cancelar" name="Cancelar" class="btn btn-danger">
    </form>

    <script type="module" src="{% static 'core/rentabilidade.js' %}"></script>
    <script type="module" src="{% static 'core/validacao.js' %}"></script>
{% endblock %}