{% extends 'core/base.html' %}

{% block main %}   
                <h1 class="display-4" align="center">Seja bem vindo</h1>
                <p class="lead">Este é um site dedicado a realização de pedidos utilizando as tabelas de clientes e produtos que podem ser conferidas abaixo.</p>
                <hr class="my-4">

                <h3 align="center">Produtos</h3>
                <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th class="tg-s268">ID</th>
                            <th class="tg-s268">Nome</th>
                            <th class="tg-s268">Preço (R$)</th>
                            <th class="tg-s268">Múltiplo</th>
                            </tr>
                        </thead>
                        <tr>
                          <td class="tg-s268">1</td>
                          <td class="tg-s268">Millenium Falcon</td>
                          <td class="tg-s268">550.000,00</td>
                          <td class="tg-s268"></td>
                        </tr>
                        <tr>
                          <td class="tg-s268">2</td>
                          <td class="tg-s268">X-Wing</td>
                          <td class="tg-s268">60.000,00</td>
                          <td class="tg-s268">2</td>
                        </tr>
                        <tr>
                          <td class="tg-s268">3</td>
                          <td class="tg-s268">Super Star Destroyer</td>
                          <td class="tg-s268">4.570.000,00</td>
                          <td class="tg-s268"></td>
                        </tr>
                        <tr>
                          <td class="tg-s268">4</td>
                          <td class="tg-s268">TIE Fighter</td>
                          <td class="tg-s268">75.000,00</td>
                          <td class="tg-s268">2</td>
                        </tr>
                        <tr>
                          <td class="tg-s268">5</td>
                          <td class="tg-s268">Lightsaber</td>
                          <td class="tg-s268">6.000,00</td>
                          <td class="tg-s268">5</td>
                        </tr>
                        <tr>
                          <td class="tg-s268">6</td>
                          <td class="tg-s268">DLT-19 Heavy Blaster Rifle</td>
                          <td class="tg-s268">5.800,00</td>
                          <td class="tg-s268"></td>
                        </tr>
                        <tr>
                          <td class="tg-s268">7</td>
                          <td class="tg-s268">DL-44 Heavy Blaster Pistol</td>
                          <td class="tg-s268">1.500,00</td>
                          <td class="tg-s268">10</td>
                        </tr>
                </table>    
                      
                      <hr class="my-4">
                      <h3 align="center">Clientes</h3>
                              <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                    <th class="tg-s268">ID</th>
                                    <th class="tg-s268">Nome</th>
                                    </tr>
                                </thead>
                                <tr>
                                  <td class="tg-s268">1</td>
                                  <td class="tg-s268">Darth​ ​Vader</td>
                                </tr>
                                <tr>
                                  <td class="tg-s268">2</td>
                                  <td class="tg-s268">Obi-Wan​ ​Kenobi</td>
                                </tr>
                                <tr>
                                  <td class="tg-s268">3</td>
                                  <td class="tg-s268">Luke​ ​Skywalker</td>
                                </tr>
                                <tr>
                                  <td class="tg-s268">4</td>
                                  <td class="tg-s268">Imperador​ ​Palpatine</td>
                                </tr>
                                <tr>
                                  <td class="tg-s268">5</td>
                                  <td class="tg-s268">Han​ ​Solo</td>
                                </tr>
                              </table>
{%endblock %}
