{% extends 'core/base.html' %}
{% load bootstrap %}
{% block main %}
        <style>
            .errorlist{
                color: red;
            }
        </style>   
        <h3 align="center">Novo Pedido</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form1|bootstrap }}
            {{ form2|bootstrap }} 
            <input type="submit" value="Adicionar novo Item" name="Adicionar" class="btn btn-primary" >
            <input type="submit" value="Salvar Pedido" name="Salvar" class="btn btn-success">
           
        </form>
        <form>
            <input type="submit" value="Cancelar" name="Cancelar" class="btn btn-danger">
        </form>
{% endblock %}