{% extends 'core/base.html' %}

{% block main %}
        <h1 align="center">Todos os Pedidos</h1>
        {% for produto in p  %}
        <br>
        <li> {{produto.cliente}}</li>
            {% for item in i %}
                {% if item.referencia_pedido == produto %}
                    {{item.produto}}
                    {{item.quantidade_digitadada_pelo_usuario}}
                    {{item.preco_digitado_pelo_usuario}}
                    {{item.rentabilidade}}
                    <a href="{% url 'core:editaPedido' produto.id item.id %}"> Editar </a><br>
                {% endif %}    
            {%endfor%}
        {%endfor%}


{% endblock %} 