body {
    background-color: #F2F2F2;
}

.form-control{
    margin-bottom: 10px;
}

.jumbotron {
    background-color: #F2F2F2;
}
.img-circle {
        border-radius: 5%;
        max-width:250px;
    }
    
.word-wrap{word-wrap: break-word;}    

.help-block{
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
  color: #D8000C;
  background-color: #FFBABA;
}