body {
    background-color: #F2F2F2;
}

.jumbotron {
    background-color: #F2F2F2;
}
.img-circle {
        border-radius: 5%;
        max-width:250px;
    }
    
.word-wrap{word-wrap: break-word;}    